@use '../../../../../theme/colors.scss' as *;
@use '../../../../../theme/styles.scss' as *;
@use '../../../../../theme/fonts.scss' as *;

@mixin item-background {
  background-color: rgba($color: $primary-color-100, $alpha: 0.1);
  color: $primary-text-color-100;
}

.project-detail-container {
  min-height: 60vh;
  .top-actions {
    margin-top: 24px;
    .back-button {
      width: 100px;
      height: 44px;
      border-radius: 8px;
      @include subtitle-style;
      @include animate-scale-fade-in(0.2s);
      background-color: rgba($color: $primary-color-600, $alpha: 0.1);
      &:hover {
        background-color: rgba($color: $secondary-color-600, $alpha: 0.15);
        cursor: pointer;
      }
    }
    .subtle {
      color: $primary-text-color-200;
      @include body-style;
      @include animate-scale-fade-in(0.3s);
    }
    .project-name {
      color: $primary-text-color-100;
      @include body-style;
      @include animate-scale-fade-in(0.4s);
    }
  }
  .project-detail {
    @media (max-width: 950px) {
      flex-direction: column !important;
      width: 80%;
      padding: 24px 0 24px 0;
    }
    .image-container {
      overflow: hidden;
      max-height: 450px;
      max-width: 300px;
      border-radius: 4px;
      @include animate-scale-fade-in(0.5s);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        box-sizing: border-box;
      }
    }
    .information-column {
      max-width: 600px;
      max-height: 450px;
      overflow: auto;
      padding: 0 14px;
      .info-title {
        @include title-style;
        @include text-gradient($secondary-color-100);
        @include animate-scale-fade-in(0.6s);
        margin: 0;
        
      }
      .info-description {
        @include body-style;
        @include animate-scale-fade-in(0.6s);
        color: $primary-text-color-200;
        margin: 0;
      }
      .links-container {
        .link-item {
          padding: 14px;
          max-width: 100px;
          @include item-background;
          transition: all 0.3s ease;
          @include body-style;
          @include animate-scale-fade-in(0.6s);
          &:hover {
            background-color: rgba($color: $secondary-color-800, $alpha: 0.1);
            cursor: pointer;
          }
        }
      }
      .technologies-container {
        @include animate-scale-fade-in(0.7s);
        .tech-icon {
          height: 34px;
          width: 34px;
          background: $hover-color-01;
          border-radius: 100%;         
        }
        .tech-title {
          @include subtitle-style-bold;
          color: $primary-text-color;
          margin: 0;
        }
        .tech-item {
          padding: 14px;
          max-width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          @include item-background;
          @include body-style;
        }
      }
    }
  }
}
