@use '../../../../../theme/colors.scss' as *;
@use '../../../../../theme/styles.scss' as *;

@mixin item-background {
  background-color: rgba($color: $primary-color-100, $alpha: 0.1);
  color: $primary-text-color-100;
}
.project-detail-container {
  height: 100%;
  min-height: 90vh;
  .top-actions {
    .back-button {
      width: 100px;
      height: 44px;
      border-radius: 8px;
      font-size: 0.9em;
      background-color: rgba($color: $primary-color-600, $alpha: 0.15);
      &:hover {
        background-color: rgba($color: $secondary-color-600, $alpha: 0.15);
        cursor: pointer;
      }
    }
    .subtle {
      color: $primary-text-color-200;
      font-size: 0.8em;
      font-weight: lighter;
    }
    .project-name {
      color: $primary-text-color-100;
      font-size: 0.8em;
      font-weight: 500;
    }
  }
  .project-detail {
    flex-direction: row-reverse;
    .image-container {
      height: 100%;
      overflow: hidden;
      max-height: 450px;
      max-width: 400px;
      width: 100%;
      border-radius: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        box-sizing: border-box;
      }
    }
    .information-column {
      max-width: 600px;
      width: 100%;
      max-height: 450px;
      height: 100%;
      overflow: auto;
      .info-title {
        font-size: 2em;
        font-weight: bolder;
        @include text-gradient($secondary-color-100);
        margin: 0;
      }
      .info-description {
        width: 100%;
        font-size: 1em;
        color: $primary-text-color-200;
        margin: 0;
      }
      .links-container {
        .link-item {
          padding: 14px;
          width: 100%;
          max-width: 100px;
          @include item-background;
          transition: all 0.3s ease;
          font-size: 0.8em;
          &:hover {
            background-color: rgba($color: $primary-color-800, $alpha: 0.2);
            cursor: pointer;
          }
        }
      }
      .technologies-container {
        .tech-icon {
          height: 34px;
          width: 34px;
          background: $hover-color-01;
          border-radius: 100%;
        }
        .tech-title {
          font-size: 1.2em;
          font-weight: bolder;
          color: $primary-text-color;
          margin: 0;
        }
        .tech-item {
          padding: 14px;
          max-width: 100px;
          width: 100%;
          @include item-background;
          font-size: 0.8em;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
