@use '../../../../theme/colors.scss' as *;
@use '../../../../theme/styles.scss' as *;
@use '../../../../theme/fonts.scss' as *;

.general-container {
  gap: 18px;
  .top {
    gap: 14px;
    h1 {
      @include text-gradient;
      @include title-style;
      margin: 0;
      text-align: center;
    }
    .subtle {
      max-width: 600px;
      text-align: center;
      @include subtitle-style;
    }
  }
  .tabbar-container {
    width: 100%;
    padding: 12px;
    background: $hover-color-005;
    .tabbar-item {
      height: 48px;
      width: 100%;
      border-radius: 4px;
      transition: all 0.3s ease;
      user-select: none;
      position: relative;
      overflow: hidden;
      color: $primary-text-color-200;
      @include subtitle-style;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background: $hover-color-005;
        @include subtitle-style-bold;
        color: $primary-text-color;
      }
      .ripple {
        position: absolute;
        border-radius: 50%;
        background: $secondary-color-100;
        transform: scale(0);
        animation: ripple-animation 0.6s linear;
      }
    }
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
