@use '../../../../theme/colors.scss' as *;
@use '../../../../theme/styles.scss' as *;

.general-container {
  p {
    font-size: 2em;
    font-weight: bold;
  }
  .tabbar-container {
    width: 100%;
    gap: 18px;
    padding: 12px;
    background: $hover-color-005;
    .tabbar-item {
      height: 48px;
      width: 100%;
      border-radius: 4px;
      transition: background 0.2s, font-weight 0.2s;
      user-select: none;
      position: relative;
      overflow: hidden;
      color: $primary-text-color-200;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background: $hover-color-01;
        font-weight: bold;
        color: $primary-text-color;
      }
      .ripple {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        transform: scale(0);
        animation: ripple-animation 0.6s linear;
      }
    }
  }
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
