@use '../../theme/styles.scss' as *;
@use '../../theme/colors.scss' as *;

.landing {
  backdrop-filter: blur(24px);

  .mask {
    max-width: 1400px;
    min-width: 400px;
    margin: 0 auto;
    padding: 5% 10% 0 10%;
    color: $primary-text-color;
    @media screen and (max-width: 950px) {
      padding: 0 5%;
    }
    .info {
      gap: 10%;
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      .me {
        width: 50%;
        p:nth-child(1) {
          animation: scale-fade-in 0.2s ease-out forwards;
          @include text-gradient(white);
          font-size: 2em;
          font-weight: bold;
          span {
            -webkit-text-fill-color: initial;
            background: none;
            color: $primary-text-color;
          }
          line-height: 1.1;
        }
        p:nth-child(2) {
          animation: scale-fade-in 0.3s ease-out forwards;
          font-size: 1em;
          font-weight: lighter;
          line-height: 1.2;
        }
      }

      .landing-photo {
        animation: scale-fade-in 0.5s ease-out forwards;
        height: 250px;
        width: 250px;
        border-radius: 100%;
        backdrop-filter: blur(24px);
        background-color: $hover-color-005;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.19);
        &:hover {
          filter: brightness(1.1);
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: inherit;
        }
      }
    }
  }

  @media (max-width: 950px) {
    .info {
      display: flex;
      flex-direction: column-reverse;
      .me {
        width: 80%;
        text-align: center;
      }
    }
  }
}
