:root {
  --primary-color: #127bb3;
  --primary-color-light: #00a0f7;
  --box-shadow-card: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-card-medium: 0 6px 12px rgba(0, 0, 0, 0.2);
  --gradient-left-right: linear-gradient(
    to right,
    black,
    var(--primary-color-light)
  );
  --gradient-bottom-topRight: linear-gradient(
    to left bottom,
    var(--primary-color),
    var(--primary-color-light)
  );
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #127bb31a;
}

::-webkit-scrollbar-thumb:hover {
  background: #127bb3;
}
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1390d4;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
