.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 600px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.064);
}
.nav-logo {
  font-weight: 600;
  font-size: 20px;

  color: var(--primary-color);
  cursor: pointer;
}

#navbar-item {
  padding: 15px;

  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
  &:hover {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 25px;
    transform: translateY(-10px);
  }
}

.navbar-toggle {
  display: none;
}

@media (max-width: 752px) {
  .navbar {
    padding: 0;
    padding-left: 0;
    min-width: 400px;
    padding-right: 0;
    box-shadow: 0 0 0 0 transparent;
  }
  #navbar-item {
    color: var(--primary-color);
    font-weight: 600;
  }
  .navbar-items {
    position: absolute;
    top: 60px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-avaliable;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .navbar-toggle {
    display: flex !important;
    flex-direction: column;
  }
  .nav-logo {
    margin-left: 20px;
  }
  .navbar-toggle span {
    margin-right: 20px;
    width: 30px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 10px;
    transform-origin: 5px 0px;
    transition: 0.2s linear;
  }
  .navbar-items.open {
    background: linear-gradient(to bottom, #f1f1f1, white);
    transform: translateX(0) !important;
  }
  .navbar-toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .navbar-toggle.open > span:nth-child(2) {
    display: none;
  }
  .navbar-toggle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 3px);
  }
}
