.project--container {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}
.swiper-slide {
  position: absolute;
  left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: #127bb3 !important;
}

.swiper-button-next {
  color: #127bb3 !important;
}

/* Cambia el color de la flecha anterior */
.swiper-button-prev {
  color: #127bb3 !important;
}
.project--container > p {
  font-weight: bold;
  font-size: 25px;
  color: #127bb3;
  line-height: 1;
}
@media (max-width: 752px) {
  .project--container {
    margin-top: 150px;
  }

  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
  }
  .swiper-slide {
    position: absolute;
    left: calc(30% - 7%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 375px) {
  .project--container {
    margin-top: 150px;
  }

  .swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
  .swiper-slide {
    position: absolute;
    left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
