.project--container {
  background-color: #f1f1f1;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 150px;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}
.swiper-slide {
  position: absolute;
  left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  background-color: var(--primary-color) !important;
}

.swiper-button-next {
  color: var(--primary-color) !important;
}

/* Cambia el color de la flecha anterior */
.swiper-button-prev {
  color: var(--primary-color) !important;
}
.project--container > p {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 25px;
  color: var(--primary-color);
  line-height: 1;
  margin-bottom: 25px;
}
.project--container > p:hover {
  color: var(--primary-color-light);
  cursor: none;
}

@media (max-width: 752px) {
  .project--container {
    margin-top: 50px;
  }
  .swiper {
    width: 100%;
    min-width: 300px;
  }
  .swiper-slide {
    position: absolute;
    left: calc(30% - 15%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
