.skills-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-container > p {
  font-weight: bold;
  font-size: 25px;
  color: #127bb3;
}
.skills-container--list {
  width: 300px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.skills-container--list:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.skills-container--list img {
  height: 45px;
  width: 45px;
}
@media (max-width: 752px) {
  .skills-container {
    margin: 0;
    margin-bottom: 50px;
  }
  .skills-container--list {
    width: 150%;
    height: 50px;
    margin: 0;
  }
  .skills-container--list img {
    height: 30px;
    width: 30px;
    margin: 0;
  }
}
