@use '../../../../theme/colors.scss' as *;
@use '../../../../theme/styles.scss' as *;

.contact {
  width: 100%;
  padding-bottom: 64px;
  min-width: 400px;
  p {
    @include title-style;
  }

  &.dark {
    background-color: $quaternary-background-color;
  }
  .card-c {
    gap: 24px;
    width: 100%;
    max-width: 400px;
  }
  @media screen and (max-width: 720px) {
    min-width: 420px;
    .card-c {
      width: 70%;
    }
  }
}
