$primary-color: #127bb3;
$primary-color-light: #00a0f7;

$secondary-color: #1588c5;
$secondary-color-light: #0eb9dc;

$primary-color-text: #101010;
$secondary-color-text: #fefefe;

$primary-background-color: #fdfdfd;
$secondary-background-color: #1a252f;
$tertiary-background-color: #141d25;
$quaternary-background-color: #141b22;
$smoked-white: #f8f8f8;

$default-color-white: #f1f1f1;
$default-color-card: white;
$default-color-card-dark: $secondary-background-color;

$transparent-color: #00a1f752;

$primary-color-50: #f4f2ff;
$primary-color-100: #ede7ff;
$primary-color-200: #dbd2ff;
$primary-color-300: #c2aeff;
$primary-color-400: #a480ff;
$primary-color-500: #894dff;
$primary-color-600: #761eff;
$primary-color-700: #6e16eb;
$primary-color-800: #5c12c5;
$primary-color-900: #4c11a1;
$primary-color-950: #2d076e;



$secondary-color-50: #fbf3ff;
$secondary-color-100: #f6e3ff;
$secondary-color-200: #efcdff;
$secondary-color-300: #e2a5ff;
$secondary-color-400: #d16cff;
$secondary-color-500: #c035ff;
$secondary-color-600: #b00fff;
$secondary-color-700: #9400e4;
$secondary-color-800: #8406c3;
$secondary-color-900: #6c079c;
$secondary-color-950: #4a0076;

$hover-color-005:    rgba(255, 255, 255, 0.05);
$hover-color-01:    rgba(255, 255, 255, 0.1);