$primary-color: #127bb3;
$primary-color-light: #00a0f7;

$secondary-color: #1588c5;
$secondary-color-light: #0eb9dc;

$primary-color-text: #101010;
$secondary-color-text: #fefefe;

$primary-background-color: #fdfdfd;
$secondary-background-color: #1a252f;
$tertiary-background-color: #141d25;
$quaternary-background-color: #141b22;
$smoked-white: #f8f8f8;

$default-color-white: #f1f1f1;
$default-color-card: white;
$default-color-card-dark: $secondary-background-color;

$transparent-color: #00a1f752;