$primary-color-50: #effbff;
$primary-color-100: #def6ff;
$primary-color-200: #b6efff;
$primary-color-300: #75e5ff;
$primary-color-400: #2cd9ff;
$primary-color-500: #00ccff;
$primary-color-600: #009fd4;
$primary-color-700: #007fab;
$primary-color-800: #006b8d;
$primary-color-900: #065874;
$primary-color-950: #04384d;

$secondary-color-50: #edf9ff;
$secondary-color-100: #d6f0ff;
$secondary-color-200: #b5e7ff;
$secondary-color-300: #83d9ff;
$secondary-color-400: #48c2ff;
$secondary-color-500: #1ea1ff;
$secondary-color-600: #0682ff;
$secondary-color-700: #006eff;
$secondary-color-800: #0854c5;
$secondary-color-900: #0d4a9b;
$secondary-color-950: #0e2d5d;


$primary-text-color: #ffffff;
$primary-text-color-100: #eeeeee;
$primary-text-color-200: #d3d3d3;
$primary-text-color-300: #b0b0b0;
$primary-text-color-400: #8a8a8a;

$hover-color-001:rgba(255, 255, 255, 0.01);
$hover-color-005:rgba(255, 255, 255, 0.05);
$hover-color-01:rgba(255, 255, 255, 0.1);

$hover-primary-color-01:rgba($color: $primary-color-600, $alpha: 0.1);