@use '../../../../theme/styles.scss' as *;
@use '../../../../theme/colors.scss' as *;

.profile {
  min-width: 400px;
  flex-direction: column;
  .experience-container {
    gap: 24px;
    margin-top: 64px;

    p {
      margin: 0;
    }

    .experience-item {
      border-radius: 8px;
      padding: 14px;
      backdrop-filter: blur(24px);
      background: rgba(255, 255, 255, 0.05);
      max-height: 130px;
      min-height: 100px;
      height: 100%;
      width: 100%;
      max-width: 300px;
      gap: 12px;
      .top {
        .icon {
          height: 34px;
          width: 34px;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 100%;
        }
        .number {
          font-weight: bolder;
        }
      }
      .title {
        font-size: 18px;
        font-weight: bold;
      }
      .description {
        font-size: 14px;
        color: #fbf6fe;
      }
    }
  }
  .info {
    gap: 10%;

    .me {
      width: 50%;
      p:nth-child(1) {
        animation: scale-fade-in 0.2s ease-out forwards;
        background: linear-gradient(to right, #6e2b91, #dfbbf7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 38px;
        font-weight: bold;
        span {
          -webkit-text-fill-color: initial;
          background: none;
          color: white;
        }
        line-height: 1.1;
      }
      p:nth-child(2) {
        animation: scale-fade-in 0.3s ease-out forwards;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
      }
      p:nth-child(3) {
        animation: scale-fade-in 0.4s ease-out forwards;
        font-size: 15px;
        line-height: 1.5;
        color: #fbf6fe;
      }
    }

    .profile-photo {
      animation: scale-fade-in 0.5s ease-out forwards;
      height: 250px;
      width: 250px;
      border-radius: 100%;
      backdrop-filter: blur(24px);
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.19);
      img {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }
  }

  @media (max-width: 950px) {
    .info {
      display: flex;
      flex-direction: column-reverse;
      .me {
        width: 80%;
        text-align: center;
      }
    }
  }
}
