@use '../../../../theme/colors.scss' as *;
@use '../../../../theme/fonts.scss' as *;

.about-container {
  min-height: 60vh;
  padding: 0 5%;
  p {
    text-align: start;
    @include body-style;
    .name {
      color: $primary-text-color-400;
    }
  }
}
