@use '../../../../theme/colors.scss' as *;
@use '../../../../theme/styles.scss' as *;
@use '../../../../theme/fonts.scss' as *;

.navbar {
  height: 60px;
  padding: 0 2%;
  min-width: 300px;
  .name {
    @include animate-scale-fade-in;
    @include text-gradient($secondary-color-900);
    @include subtitle-style-bold;
  }
  .navbar-items {
    .navbar-item {
      @include animate-scale-fade-in;
      @include body-style;
      color: $primary-text-color-100;
      transition: all 0.3s ease !important;
      cursor: pointer !important;
    }
  }
}
