@use '../../../../theme/colors.scss' as *;

.navbar {
  height: 60px;
  display: flex;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  min-width: 420px;
  .name {
    color: $primary-color;
    cursor: pointer;
    padding-left: 14px;
  }
  .navbar-item {
    padding: 15px;
    text-decoration: none;
    transition: transform 0.3s ease;
    &.theme {
      transform: translateY(0px);
      &.dark {
        filter: invert(1);
      }
      &:hover {
        transform: translateY(-2px);
      }
    }
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}
